:host {
  display: block;
}
div {
  padding: 15px;
  margin-bottom: 15px;
  border-left: 6px solid grey;
  transition: all 0.3s ease;
}

.card--enrolled {
  background-color: lightgreen;
}

.card--full {
  font-weight: bold;
}

.expanded {
  min-height: 250px;
}

button {
  margin-right: 8px;
}